.about {
  min-height: calc(100vh - 248px);
}
.hero-about-section {
  background-image: url(../../assets/hero1.png);
  width: 100%;
  height: 500px;
  height: unset;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
.heroAboutContent {
  margin-top: 50px;
}
.heroAboutContent p {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: #193569;
  font-weight: 600;
  line-height: 1.4;
}
.aboutVision {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
  margin-bottom: 80px;
}
.aboutVisionCard {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.aboutVisionCard {
  display: flex;
  gap: 25px;
  width: 48%;
}
.aboutVisionCard:first-child {
  width: 100%;
}
.aboutVisionCard__div__image {
  min-width: 150px;
  min-height: 150px;
  background: #baf4ff;
  position: relative;
  border-radius: 40px;
  box-shadow: 0px 2px 16px #cef3ff5c;
  max-width: 151px;
  max-height: 151px;
}
.aboutVisionCard__div__image__inside {
  position: absolute;
  background: white;
  border-radius: 40px;
  top: 10px;
  right: 10px;
  padding: 20px;
  box-shadow: 0px 2px 16px #cef3ff5c;
  width: 150px;
  height: 150px;
}
.aboutVisionCard__div__image__inside__mainImage {
  width: 80%;
}
.aboutVisionCard__div__image__inside__iconImageTop {
  width: 15px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}
.aboutVisionCard__div__image__inside__iconImageBottom {
  position: absolute;
  bottom: 10px;
  right: -10px;
  object-fit: contain;

  width: 30px;
}
.aboutVisionCard__div__content h3 {
  color: var(--color-footer);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}
.aboutVisionCard__div__content p {
  color: #193569;
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .aboutVisionCard {
    width: 100%;
    margin-bottom: 40px;
  }
  .aboutVision {
    padding: 0 20px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .aboutVisionCard__div__content p {
    color: #193569;
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 500px) {
  .eventsNews {
    margin-top: 50px !important;
  }
}
