@font-face {
    font-family: 'Ubuntu Arabic';
    src: url('UbuntuArabic-Bold.eot');
    src: url('UbuntuArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('UbuntuArabic-Bold.woff2') format('woff2'),
        url('UbuntuArabic-Bold.woff') format('woff'),
        url('UbuntuArabic-Bold.ttf') format('truetype'),
        url('UbuntuArabic-Bold.svg#UbuntuArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

