.weCare {
  margin-top: 70px;
}
.weCare__container {
  display: flex;
  justify-content: space-between;
}
.weCare__left {
  width: 50%;
  position: relative;
}
.weCare__left img {
  width: 100%;
}
.weCare__left__title {
  background-color: #171b30;
  position: absolute;
  top: 10%;
  right: 30%;
  padding: 12px 15px;
}
.weCare__left__title h2 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
}
.weCare__right {
  width: 50%;
}
.weCare__right__title {
  color: var(--color-title);
  font-size: 28px;
  font-weight: 700;
}
.weCare__right__title span {
  font-size: 28px;
  color: var(--color-btn);
}

/* weCare__right__card */
.weCare__right__allCards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}
.weCare__right__card {
  display: flex;
  gap: 15px;
}
.weCare__right__card__img {
  /* margin-right: 15px; */
  /* padding: 12px; */
  /* min-width: 40px;
  max-width: 70px;
  min-height: 40px;
  max-height: 70px; */
  /* border-radius: 50%; */
  /* background: transparent linear-gradient(141deg, #50c6df 0%, #4d658b 100%) 0%
    0% no-repeat padding-box; */
  width: 180px;
}
.weCare__right__card__img div {
  padding: 12px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent linear-gradient(141deg, #50c6df 0%, #4d658b 100%) 0%
    0% no-repeat padding-box;
}
.weCare__right__card__img img {
  width: 100%;
}
.weCare__right__card__content h4 {
  color: var(--color-wecare);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.weCare__right__card__content p {
  color: var(--color-title);
}

@media screen and (max-width: 1000px) {
  .weCare__right__card__content p {
    line-height: 1.1;
  }
  .weCare__container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 850px) {
  .weCare__container {
    display: flex;
    flex-direction: column;
  }
  .weCare__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .weCare__right {
    width: 100%;
  }
}
