.hero-section {
  background-image: url(../../assets/hero1.png);
  width: 100%;
  height: 500px;
  height: unset;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.hero1 {
  width: 50px !important;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99999999;
}
.hero2 {
  width: 150px !important;
  height: 150px;
  position: absolute;
  top: 20%;
  right: 0;
  z-index: 99999;
}
.hero3 {
  width: 50px !important;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-doctor {
  z-index: 999999;
  /* position: absolute; */
  display: flex;
}

/* ---- HeroContent --------*/
.heroContent {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-top: 10px;
}
.heroContent__left__div {
  width: calc(100% - 150px);
}
.heroContent__left {
  width: 60%;
  padding-top: 100px;
  /* padding-right: 150px; */
}
.heroContent__left__title {
  color: var(--color-hero-title);
  font-weight: 700;
  font-size: 40px;
}
.heroContent__left__paragraph {
  color: var(--color-text);
  font-weight: 500;
  margin-top: 15px;
}
.heroContent__left__btns {
  /* display: flex;
  gap: 15px; */
  margin-top: 20px;
}
.heroContent__left__btns p {
  width: 200px;
  text-align: center;
}
.heroContent__right {
  width: 35%;
}
.heroContent__right img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .heroContent {
    padding: 0 20px;
  }
  .heroContent__left {
    padding-top: 20px;
  }
  .heroContent__left__div {
    width: calc(100% - 20px);
  }
  .heroContent__left__title {
    color: var(--color-hero-title);
    font-weight: 700;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .heroContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .heroContent__left {
    width: 100%;
    padding-top: 20px;
    /* padding-right: 50px; */
  }
  .heroContent__left__div {
    width: calc(100% - 40px);
  }
  .heroContent__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heroContent__right img {
    max-width: 500px;
  }
  .hero-section {
    height: unset;
  }
}

@media screen and (max-width: 640px) {
  .heroContent__left__btns p {
    width: 140px;
    font-size: 14px;
  }
}
