.eventsNews {
    height: 500px;
    margin-top: -150px;
}
.eventsNews__main {
  width: 60%;
}
.eventsNews__right {
  width: 40%;
  overflow-y: scroll;
}

.eventsNews__right::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 50px;
  /* display: none; */
}
/* Track */
.eventsNews__right::-webkit-scrollbar-track {
  background: rgba(166, 166, 166, 0.2);
  border-radius: 50px;
}

/* Handle */
.eventsNews__right::-webkit-scrollbar-thumb {
  background: var(--color-btn);
  border-radius: 50px;
}

/* Handle on hover */
.eventsNews__right::-webkit-scrollbar-thumb:hover {
  background: #193569;
  border-radius: 50px;
}


.eventsNews__main__content {
  color: #193569;
}
.eventsNews__main__content h3 {
  font-size: 20px;
  font-weight: 700;
}
.eventsNews__main__content button {
  /* font-size: 18px; */
  font-weight: 600;
}

.eventsNewsCard {
  background-color: var(--color-white);
}
.eventsNewsCard__image {
  width: 150px;
  /* height: 100%; */
}
.eventsNewsCard__content {
  color: #193569;
}
.eventsNewsCard__content h2{
  font-weight: 700;
  font-size: 16px;
}
.eventsNewsCard button{
    color: var(--color-btn);
}
.related__threeCards .eventsNewsCard__image{
  width: 100px !important;
}
.related__threeCards .eventsNewsCard__content {
  padding: 0.3rem 0.5rem;
}
.related__threeCards .eventsNewsCard__content h2{
  font-weight: 600;
  font-size: 12px;
}
.related__threeCards .eventsNewsCard__content p{
  font-size: 10px;
  line-height: 0.7rem;
}
.related__threeCards .eventsNewsCard__content span{
  font-size: 10px;
}
.related__threeCards .eventsNewsCard__content button{
  font-size: 10px;
}