.heroNewsInsideContent {
  color: #193569;
}
.heroNewsInsideContent p {
  color: #193569;
}
.heroNewsInsideContent__images {
  display: flex;
  height: 400px;
  gap: 1%;
  margin-top: -250px;
}
.heroNewsInsideContent__images__selected {
  width: 65%;
}
.heroNewsInsideContent__images__right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2%;
  background: #0000001c 0% 0% no-repeat padding-box;
  padding: 5px;
  overflow-y: scroll;
}
.heroNewsInsideContent__images__right img {
  width: 23.5%;
  height: 97px;
  cursor: pointer;
}
.heroNewsInsideContent__images__right .some-blur {
  filter: brightness(0.5);
}
.newsInsideMainContent__allParagraph {
    color: #193569;
}
.newsInsideMainContent__allParagraph h4{
    color: #193569;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.newsInsideMainContent__allParagraph p{
    color: #193569;
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
}



.heroNewsInsideContent__images__right::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 50px;
  /* display: none; */
}
/* Track */
.heroNewsInsideContent__images__right::-webkit-scrollbar-track {
  background: rgba(166, 166, 166, 0.2);
  border-radius: 50px;
}

/* Handle */
.heroNewsInsideContent__images__right::-webkit-scrollbar-thumb {
  background: var(--color-btn);
  border-radius: 50px;
}

/* Handle on hover */
.heroNewsInsideContent__images__right::-webkit-scrollbar-thumb:hover {
  background: #193569;
  border-radius: 50px;
}