.news {
  margin-top: 80px;
  margin-bottom: 80px;
}
.news__images {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  height: 500px;
}
.news__images__left {
  width: 50%;
}
.news__images__right {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.news__images__right__top {
  width: 100%;
  height: 50%;
}
.news__images__right__bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.news__images__right__bottom div {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .news__images {
    padding: 0 20px;
    height: unset;
  }
}
/* @media screen and (max-width: 768px) {
  .news__images {
    padding: 0 20px;
  }
}
@media screen and (max-width: 640px) {
  .news__images {
    padding: 0 20px;
  }
} */
