/* -------- Buttons ------- */
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
}
.btn-fill {
  background-color: var(--color-footer);
  border: none;
  color: var(--color-white);
}
.btn-outline,
.btn-fill {
  outline: none;
  min-width: 200px;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 0.1s;
}
.btn-outline:hover,
.btn-fill:hover {
  transform: scale(1.02);
}
.btn-fill.notActive {
  color: #96a1de;
  background-color: #dde2ff;
}
/* ------ Paragraph------ */
p {
  color: var(--color-text);
  word-break: break-word;
}
/* ------ Title ------ */
.title {
  color: var(--color-title);
}

.main__title-div {
  color: #bababa;
  color: var(--color-title);
  position: relative;
  line-height: 1.2;
}
.main__title-div::before {
  content: url("../src/assets/left.png");
  right: 100%;
}
.main__title-div::after {
  content: url("../src/assets/right.png");
  left: 100%;
}
.main__title-div::before,
.main__title-div::after {
  position: absolute;
  top: -30%;
  display: inline-block;
  margin: 0 25px;
  zoom: 1;
}

.main__title {
  text-align: center;
  /* margin-bottom: 15px; */
  font-size: 30px;
  font-weight: 700;
}

/* news image */
.news__image__style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.image__mainStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 3;
  background: transparent
    linear-gradient(180deg, #ffffff00 0%, #ffffffc9 79%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
}
.gallerySwiper__div .swiper {
  position: unset !important;
}
.gallerySwiper__div .swiper-button-prev:after {
  content: url("/src/assets/arrow-left.png") !important;
  transform: scale(0.7);
}
.gallerySwiper__div .swiper-button-next:after {
  content: url("/src/assets/arrow-right.png") !important;
  transform: scale(0.7);
}
.gallerySwiper__div .swiper-button-prev {
  left: 20px !important;
}
.gallerySwiper__div .swiper-button-next {
  right: 20px !important;
}
.some-blur {
  filter: brightness(0.5);
}

.scroll-to-top {
  background-color: #47acd6 !important;
  color: var(--color-white) !important;
  width: 45px !important;
  height: 75px !important;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
  bottom: 85px !important;
}
option {
  background: var(--color-bg);
  color: var(--color-title);
  font-size: 18px;
  font-weight: 600;
}

.app__container {
  position: relative;
}
.app__social {
  position: fixed;

  bottom: 160px;
  right: 37px;
  z-index: 999;
}
.app__social div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-blue);
  margin: 0.25rem 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.app__social div:hover {
  transform: scale(1.1);
}
.app__social div svg {
  width: 22px;
  height: 22px;
  color: var(--color-white);
}
.phone-icon {
  background-color: var(--color-black) !important;
}
.whats-icon {
  background-color: var(--color-whats) !important;
}

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 26px;
  }
  .main__title-div::before,
  .main__title-div::after {
    top: -45%;
    margin: 0 20px;
  }
}
@media screen and (max-width: 640px) {
  .main__title {
    font-size: 24px;
  }
  .main__title-div::before,
  .main__title-div::after {
    top: -65%;
    margin: 0 15px;
  }
  .btn-outline,
  .btn-fill {
    min-width: 140px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0px 3px 6px #00000029;
    transition: all 0.1s;
  }
  .gradient {
    height: 40%;
  }
}
@media screen and (max-width: 370px) {
  .btn-outline,
  .btn-fill {
    font-size: 11px;
  }
}
