/* -------- Buttons ------- */
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
}
.btn-fill {
  background-color: var(--color-footer);
  border: none;
  color: var(--color-white);
}
.btn-outline,
.btn-fill {
  outline: none;
  min-width: 200px;
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 0.1s;
}
.btn-outline:hover,
.btn-fill:hover {
  transform: scale(1.02);
}
.btn-fill.notActive {
  color: #96a1de;
  background-color: #dde2ff;
}
/* ------ Paragraph------ */
p {
  color: var(--color-text);
}
/* ------ Title ------ */
.title {
  color: var(--color-title);
}

.main__title-div {
  color: #bababa;
  color: var(--color-title);
  position: relative;
  line-height: 1.2;
}
.main__title-div::before {
  content: url("../src/assets/left.png");
  right: 100%;
}
.main__title-div::after {
  content: url("../src/assets/right.png");
  left: 100%;
}
.main__title-div::before,
.main__title-div::after {
  position: absolute;
  top: -30%;
  display: inline-block;
  margin: 0 25px;
  zoom: 1;
}

.main__title {
  text-align: center;
  /* margin-bottom: 15px; */
  font-size: 30px;
  font-weight: 700;
}

/* news image */
.news__image__style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.image__mainStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 3;
  background: transparent
    linear-gradient(180deg, #ffffff00 0%, #ffffffc9 79%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
}
.swiper {
  position: unset !important;
}
.swiper-button-prev:after {
  content: url("/src/assets/arrow-left.png") !important;
  transform: scale(.7);
}
.swiper-button-next:after {
  content: url("/src/assets/arrow-right.png") !important;
  transform: scale(.7);
}
.swiper-button-prev {
  left: 20px !important;
  
}
.swiper-button-next {
   bottom: 20px !important;
}