.servecisSection{
    margin-top: 100px;
}
.servecisSection__paragraph{
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    padding:0 40px ;
}
.servecisSection__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 50px;

}